rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /questions/{questionId} {
      // PERMISSIVE MODE: Allow any authenticated user to Create, Read, Update, Delete.
      // Necessary for global Review functionality.
      allow create, read, update, delete: if request.auth != null;
    }
  }
}
